
body{
    background-color:burlywood;
}
.h1{
    text-align: center;
    color: slategrey;
    border-top: 0;
    margin-top: 0;
}
.menu-button{
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
}
.menu-button:hover{
    color: dimgrey;
}
.order-button{
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
}
.order-button:hover{
    color: dimgrey;
}
.about-button{
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
}
.about-button:hover{
    color: dimgrey;
}